section.organizations
  .flex.flex--space-around
    .col-1
      .video-strip
      .flex-video <iframe width="560" height="315" src="https://www.youtube.com/embed/YLpHeDLuRpI" frameborder="0" allowfullscreen></iframe>

    .col-1.order-first
      p.home-lead.outdented ...volunteering to promote education and diversity in Computer Science...
      a(href="assets/img/logo-mv.svg" download).home-cta Download a summary
